body {
    background-color: #8795d4; /* Цвет фона */
} /* Установка цвета для элемента <div class="container"> */

.container {
    display: flex;
    background-color: #8795d4; /* Цвет фона */
    margin-bottom: 25px; /* Отступ снизу для элемента <footer> ????????*/ 
} /* Установка цвета и расположение для элемента <div class="left-column"> */

.left-column {
    flex: 0.4; /* Занимает доступное пространство */
    background-color: #6874ad; /* Цвет фона */
    margin-top: 25px; /* Отступ сверху */
    margin-left: 20px; /* Отступ слева */
    margin-bottom: 20px; /* Отступ снизу */
    padding: 15px; /* Внутренний отступ*/
    height: 100%; /* Занимает всю высоту .container */
}

.header-left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.avatar {
    width: 100px; /* Задать ширину */
    height: 100px; /* Задать высоту */
    border-radius: 50%; /* Сделать изображение круглым */
    object-fit: cover; /* Убедиться, что изображение покрывает всю область */
}

.header-left-column h1 {
    margin-bottom: 10px; /* Отступ снизу для h1 */
}

.header-left-column h2 {
    margin-top: 0; /* Убираем отступ сверху для h2, если он есть */
}

.menu {
    margin-left: 25px; /* Отступ слева, можно изменить значение по необходимости */
}

.nav-list li {
    color: black; /* Цвет текста */
    font-weight: bold; /* Жирный текст */
}

.nav-link {
    color: black; /* Цвет ссылок */
    font-weight: bold; /* Жирный текст для ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.nav-list li {
    margin-bottom: 10px; /* Отступ снизу для каждого элемента списка */
}

/* Убираем отступ у последнего элемента списка */
.nav-list li:last-child {
    margin-bottom: 0;
}

.right-column {
    flex: 1; /* Занимает доступное пространство */
    background-color: #6874ad; /* Цвет фона */
    margin-top: 25px; /* Отступ сверху */
    margin-left: 25px; /* Отступ слева */
    margin-bottom: 20px; /* Отступ снизу */
    padding: 10px; /* Внутренний отступ*/
    height: 100%; /* Занимает всю высоту .container */
}

.section-title {
    margin-left: 40px; /* Отступ слева, можно изменить значение по необходимости */
}

.contacts-li {
    color: black; /* Черный цвет */
    text-decoration: none; /* Убирает подчеркивание */
}

.projects-li {
    color: black; /* Черный цвет */
    font-weight: bold; /* Жирный шрифт */
    text-decoration: none; /* Убирает подчеркивание */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#6874ad; 
    color: black; /* Цвет текста */
    padding: 20px; /* Отступы внутри футера */
    text-align: center; /* Центровка текста */
}

.left-logo {
    margin-right: auto;
}

.footer p {
    margin: 0; /* Убираем отступы у параграфа */
}

.right-logo {
    margin-left: auto;
}
